<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_1@790da477]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_1@790da477]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="e5f2b9">  <td>24/03/08 17:28:36</td>   <td>-6553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_9.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_9@72c8e7b]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="9d997e">  <td>24/03/08 17:28:36</td>   <td>-6081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_AA.validator(java.lang.String)[pri:0, instance:TestPackage.Test_Case_AA@65f8f5ae]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_1@790da477]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_5.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_5@f1da57d]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="b08377">  <td>24/03/08 17:28:39</td>   <td>-3277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A5.validator(java.lang.String)[pri:0, instance:TestPackage.Test_Case_A5@38467116]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_1@790da477]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/03/08 17:28:33</td>   <td>-9553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A1.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A1@480d3575]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="f570a8">  <td>24/03/08 17:28:43</td>   <td>425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A9.validator(java.lang.String)[pri:0, instance:TestPackage.Test_Case_A9@5c7933ad]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/03/08 17:28:31</td>   <td>-10941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A2.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A2@17bffc17]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/03/08 17:28:31</td>   <td>-11067</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_8.setup()[pri:0, instance:TestPackage.Test_Case_8@26abb146]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:40</td>   <td>-1637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A7.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:40</td>   <td>-1637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A7.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/03/08 17:28:35</td>   <td>-7408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_8.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_8@26abb146]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/03/08 17:28:31</td>   <td>-11558</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_5.setup()[pri:0, instance:TestPackage.Test_Case_5@f1da57d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_8.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_8@26abb146]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/03/08 17:28:34</td>   <td>-7811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_7.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_7@194fad1]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:38</td>   <td>-4278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A3.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:38</td>   <td>-4278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A3.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:31</td>   <td>-10968</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_A7.testSetUp()[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_A2.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_A2@17bffc17]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:38</td>   <td>-4278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A3.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="b08377">  <td>24/03/08 17:28:39</td>   <td>-3277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A5.validator(java.lang.String)[pri:0, instance:TestPackage.Test_Case_A5@38467116]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/03/08 17:28:31</td>   <td>-10999</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_A2.setup()[pri:0, instance:TestPackage.Test_Case_A2@17bffc17]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:43</td>   <td>576</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_A3.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/03/08 17:28:31</td>   <td>-11031</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_A1.setup()[pri:0, instance:TestPackage.Test_Case_A1@480d3575]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="e5f2b9">  <td>24/03/08 17:28:36</td>   <td>-6553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_9.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_9@72c8e7b]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_A1.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_A1@480d3575]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/03/08 17:28:31</td>   <td>-11103</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_7.setup()[pri:0, instance:TestPackage.Test_Case_7@194fad1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="e5f2b9">  <td>24/03/08 17:28:31</td>   <td>-11032</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_9.testSetUp()[pri:0, instance:TestPackage.Test_Case_9@72c8e7b]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_7.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_7@194fad1]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/03/08 17:28:34</td>   <td>-8264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_5.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_5@f1da57d]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="e5f2b9">  <td>24/03/08 17:28:43</td>   <td>575</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_9.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_9@72c8e7b]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:43</td>   <td>576</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_A7.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:40</td>   <td>-1637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A7.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:43</td>   <td>574</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Case_1.evidenceCreator()[pri:0, instance:TestPackage.Test_Case_1@790da477]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:38</td>   <td>-4278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A3.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/08 17:28:40</td>   <td>-1637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_A7.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_A7@5b7a7f33]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/03/08 17:28:34</td>   <td>-8264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_5.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.Test_Case_5@f1da57d]">validator</td> 
  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/08 17:28:31</td>   <td>-11570</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_1.testSetUp()[pri:0, instance:TestPackage.Test_Case_1@790da477]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/08 17:28:31</td>   <td>-10969</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Case_A3.testSetUp()[pri:0, instance:TestPackage.Test_Case_A3@431cd9b2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096539129</td>   <td></td> </tr>
</table>
